# Device: Cyclone V (cyclonev_jtag primitive, fixed USER1 instruction)
source [find interface/altera-usb-blaster.cfg]
adapter speed 6000
reset_config none

set _CHIPNAME cv5
jtag newtap $_CHIPNAME tap -irlen 10 -expected-id 0x02b050dd
